In [55]:
import pandas as pd

df = pd.read_csv("students_scores.csv")

df.head()

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75

#     1. Скільки студентів і студенток у наборі даних?

In [56]:
male_count = (df['Gender'] == 'male').sum() 
female_count = (df['Gender'] == 'female').sum()

print("Кількість студентів: ", male_count)
print("Кількість студенток: ", female_count)

Кількість студентів:  15217
Кількість студенток:  15424

#  2. Який відсоток студентів чоловічої статі в наборі даних?

In [59]:
male_percentage = (male_count / df.shape[0]) * 100
print("Відсоток студентів чоловічої статі в наборі даних: {:.4f}%".format(male_percentage))

Відсоток студентів чоловічої статі в наборі даних: 49.6622%

# 3. Який відсоток студенток у наборі даних?

In [60]:
female_percentage = (female_count / df.shape[0]) * 100

print("Відсоток студенток у наборі даних: {:.4f}%".format(female_percentage))

Відсоток студенток у наборі даних: 50.3378%

#  4. Яка етнічна група має найвищий середній бал з математики?

In [39]:
# Згруповані дані за етнічною групою та обчисленим середнім балом з математики для кожної групи
math_scores_by_ethnic_group = df.groupby('EthnicGroup')['MathScore'].mean()

# Пошук еттнічної групи з найвищим середнім балом з математики
ethnic_group_with_highest_math_score = math_scores_by_ethnic_group.idxmax()
highest_math_score = math_scores_by_ethnic_group.max()

print("Етнічна група з найвищим середнім балом з математики: ", ethnic_group_with_highest_math_score)
print("Середній бал з математики для цієї групи: ", highest_math_score)

Етнічна група з найвищим середнім балом з математики:  group E
Середній бал з математики для цієї групи:  75.29893590695373

#  5. Яка етнічна група має найвищий середній бал читання?

In [38]:
# Згруповані дані за етнічною групою та обчисленим середнім балом з читання для кожної групи
reading_scores_by_ethnic_group = df.groupby('EthnicGroup')['ReadingScore'].mean()

# Пошук еттнічної групи з найвищим середнім балом з читання
ethnic_group_with_highest_reading_score = reading_scores_by_ethnic_group.idxmax()
highest_reading_score = reading_scores_by_ethnic_group.max()

print("Етнічна група з найвищим середнім балом з читання: ", ethnic_group_with_highest_reading_score)
print("Середній бал з читання для цієї групи: ", highest_reading_score)

Етнічна група з найвищим середнім балом з читання:  group E
Середній бал з читання для цієї групи:  74.25142291512002

#  6. Яка етнічна група має найвищий середній бал з письма?

In [37]:
# Згруповані дані за етнічною групою та обчисленим середнім бало з письма для кожної групи
writing_scores_by_ethnic_group = df.groupby('EthnicGroup')['WritingScore'].mean()

# Пошук еттнічної групи з найвищим середнім балом з письма
ethnic_group_with_highest_writing_score = writing_scores_by_ethnic_group.idxmax()
highest_writing_score = writing_scores_by_ethnic_group.max()

print("Етнічна група з найвищим середнім балом з письма: ", ethnic_group_with_highest_writing_score)
print("Середній бал з письма для цієї групи: ", highest_writing_score)

Етнічна група з найвищим середнім балом з письма:  group E
Середній бал з письма для цієї групи:  72.67706013363029

#  7. Який середній бал з математики для студентів, які закінчили курс підготовки до тесту?

In [36]:
# Студенти, які закінчили курс підготовки до тесту з математики
prepared_math_students = df[df['TestPrep'] == 'completed']

#Середній бал з математики для цих студентів
average_math_score_prepared = prepared_math_students['MathScore'].mean()

print("Середній бал з математики для студентів, які закінчили курс підготовки до тесту: ", average_math_score_prepared)

Середній бал з математики для студентів, які закінчили курс підготовки до тесту:  69.5466599698644

# 8. Який середній бал з читання для студентів, які пройшли курс підготовки до тесту?

In [35]:
prepared_reading_students = df[df['TestPrep'] == 'completed']

average_reading_score_prepared = prepared_reading_students['ReadingScore'].mean()

print("Середній бал з читання для студентів, які пройшли курс підготовки до тесту: ", average_reading_score_prepared)

Середній бал з читання для студентів, які пройшли курс підготовки до тесту:  73.73299849321948

# 9. Який середній бал для студентів, які закінчили курс підготовки до тесту?

In [34]:
# Студенти, які закінчили курс підготовки до тесту
prepared_students = df[df['TestPrep'] == 'completed']

#Середній бал для цих студентів з усіх тестів
average_score_prepared_students = prepared_students[['MathScore', 'ReadingScore', 'WritingScore']].mean().mean()

print("Середній бал для студентів, які закінчили курс підготовки до тесту: ", average_score_prepared_students)

Середній бал для студентів, які закінчили курс підготовки до тесту:  72.66097438473129

#  10. Скільки студентів мають одружених батьків?

In [32]:
# Кількість студентів, які мають одружених батьків
married_parents_count = (df['ParentMaritalStatus'] == 'married').sum()

print("Кількість студентів, які мають одружених батьків: " , married_parents_count)

Кількість студентів, які мають одружених батьків:  16844

# 11. Скільки студентів мають батьків-одинаків?

In [33]:
# Кількість студентів, які мають батьків-одинаків
single_parents_count = (df['ParentMaritalStatus'] == 'single').sum()

print("Кількість студентів, які мають батьків-одинаків: ", single_parents_count)

Кількість студентів, які мають батьків-одинаків:  7097

# 12. Чи студенти, які регулярно займаються спортом, мають вищі середні результати з математики, ніж ті, хто ніколи не  займається спортом?

In [31]:
# Середні бали з математики студентів, які регулярно займаються спортом і тих, хто не займається спортом
average_math_score_sport = df[df['PracticeSport'] == 'regularly']['MathScore'].mean()
average_math_score_no_sport = df[df['PracticeSport'] == 'never']['MathScore'].mean()

print("Середній бал з математики студентів, які регулярно займаються спортом : ", average_math_score_sport)
print("Середній бал з математики студентів, які НЕ займаються спортом : ", average_math_score_no_sport)

if average_math_score_sport > average_math_score_no_sport:
    print("Студенти, які регулярно займаються спортом, мають вищі середні результати з математики.")
else:
    print("Студенти, які регулярно займаються спортом, не мають вищих середніх результатів з математики.")

Середній бал з математики студентів, які регулярно займаються спортом :  67.83915500787548
Середній бал з математики студентів, які НЕ займаються спортом :  64.17107892107892
Студенти, які регулярно займаються спортом, мають вищі середні результати з математики.

# 13. Чи студенти, які регулярно займаються спортом, мають вищі середні результати читання, ніж ті, хто ніколи не займається спортом?

In [30]:
# Cередні бали з читання для студентів, які регулярно займаються спортом і тих, хто не займаються спортом
average_reading_score_sport = df[df['PracticeSport'] == 'regularly']['ReadingScore'].mean()
average_reading_score_no_sport = df[df['PracticeSport'] == 'never']['ReadingScore'].mean()

print("Середній бал з читання студентів, які регулярно займаються спортом : ", average_reading_score_sport)
print("Середній бал з читання студентів, які НЕ займаються спортом : ", average_reading_score_no_sport)

if average_reading_score_sport > average_reading_score_no_sport:
    print("Студенти, які регулярно займаються спортом, мають вищі середні результати з читання.")
else:
    print("Студенти, які регулярно займаються спортом, не мають вищих середніх результатів з читання.")

Середній бал з читання студентів, які регулярно займаються спортом :  69.94301862318169
Середній бал з читання студентів, які НЕ займаються спортом :  68.33766233766234
Студенти, які регулярно займаються спортом, мають вищі середні результати з читання.

#  14. Скільки учнів користується шкільним автобусом, щоб дістатися до школи?

In [28]:
bus_users_count = (df['TransportMeans'] == 'school_bus').sum()

print("Кількість учнів, які користуються шкільним автобусом:", bus_users_count)

Кількість учнів, які користуються шкільним автобусом: 16145

# 15. Скільки учнів користується приватним транспортом, щоб дістатися до школи?

In [41]:
# Кількість учнів, які користуються приватним транспортом
private_transport_users_count = (df['TransportMeans'] == 'private').sum()

print("Кількість учнів, які користуються приватним транспортом:", private_transport_users_count)

Кількість учнів, які користуються приватним транспортом: 11362

## Задача класифікації 
## Передбачте, чи завершив студент курс підготовки до іспиту, на основі його демографічних та академічних даних.

In [42]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import LabelEncoder

In [45]:
category_columns = ['Gender', 'EthnicGroup', 'ParentEduc', 'LunchType', 'ParentMaritalStatus', 'PracticeSport', 'IsFirstChild', 'TransportMeans', 'WklyStudyHours']

for column in category_columns:
    df[column] = LabelEncoder().fit_transform(df[column].astype(str))  

# Видалення рядків з пропущеними значеннями
df = df.dropna()

# Визначення вхідних (X) і цільових (y) змінних
X = df.drop('TestPrep', axis=1)
y = df['TestPrep']

# Розбиття даних на тренувальний і тестовий набори
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Створення та навчання моделі випадкового лісу
rf_clf = RandomForestClassifier(n_estimators=100, random_state=42)
rf_clf.fit(X_train, y_train)

# Передбачення на тестових даних і оцінка точності
y_pred = rf_clf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Точність моделі: {accuracy}")

Точність моделі: 0.7258595464520848